@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root{
    --DARKBLUE: hsl(218, 23%, 16%);
    --DARKGRAYISHBLUE: hsl(217, 19%, 24%);
    --FF: 'Manrope', sans-serif;
    --FS: 28px;
    --GRAYISHBLUE: hsl(217, 19%, 38%);
    --LIGHTCYAN: hsl(193, 38%, 86%);
    --NEONGREEN: hsl(150, 100%, 66%);
}

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    align-items: center;
    background-color: var(--DARKBLUE);
    display: flex;
    font-family: var(--FF);
    font-size: var(--FS);
    justify-content: center;
    min-height: 100vh;
}

.quote--container{
    background-color: var(--DARKGRAYISHBLUE);
    border-radius: 15px;
    max-width: 335px;
    padding-inline: 30px;
    position: relative;
    text-align: center;
}

.quote--id{
    color: var(--NEONGREEN);
    font-size: .7rem;
    letter-spacing: .2rem;
    padding-block: 40px;
    text-transform: uppercase;
}

.quote--text{
    color: var(--LIGHTCYAN);
    line-height: 2.5rem;
}

.quote--divider{
    background-image: url("/src/assets/images/pattern-divider-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
    margin-top: 30px;
    padding-bottom: 80px;
    width: 100%;
}

button{
    border: 1px solid transparent;
    background-color: var(--NEONGREEN);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    bottom: -35px;
    left: calc(50% - 35px);
    cursor: pointer;
}


button:hover{
        box-shadow: 0px 0px 30px var(--NEONGREEN)
    }

.attribution{
    color: var(--GRAYISHBLUE);
    font-size: .6rem;
    margin-block: 60px;
    text-align: center;
}

.attribution > a{
    color: var(--LIGHTCYAN);
}

@media (min-width: 40em){
    .app--container{
        max-width: 500px;
    }

    .quote--divider{
        background-image: url(/src/assets/images/pattern-divider-desktop.svg);
    }
}

